ul {
    width: 100%;
    color: rgb(255, 255, 255);
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    background-color: rgb(0, 0, 0);
  }
  
  @media (min-width: 500px) {
    ul {
      grid-auto-flow: column;
    }
  }
  
  
  


 
  
